{% capture footer_custom %}
{%- include footer_custom.html -%}
{% endcapture %}
{% if footer_custom != "" or site.last_edit_timestamp or site.gh_edit_link %}
<hr>
<footer>
    <table>
      <tbody>
        {% if site.last_edit_time_format and page.created_at %}
        <tr>
          <td>Created At</td>
          <td>{{ page.created_at | date: site.last_edit_time_format}}</td>
        </tr>
        {% endif %}
        {% if site.last_edit_time_format and page.modified_at %}
        <tr>
          <td>Modified At</td>
          <td>{{ page.modified_at | date: site.last_edit_time_format}}</td>
        </tr>
        {% endif %}
        {% if site.last_edit_time_format and site.time %}
        <tr>
          <td>Deployed At</td>
          <td>{{ site.time | date: site.last_edit_time_format}}</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
    <table>
      <tbody>
        <tr>
          {% if site.back_to_top %}
          <td>
            <p><a href="#top" id="back-to-top">{{ site.back_to_top_text }}</a></p>
          </td>
          {% endif %}
          {% if
          site.gh_edit_link and
          site.gh_edit_link_text and
          site.gh_edit_repository and
          site.gh_edit_branch and
          site.gh_edit_view_mode
          %}
          <td>
            <a href="{{ site.gh_edit_repository }}/{{ site.gh_edit_view_mode }}/{{ site.gh_edit_branch }}{% if site.gh_edit_source %}/{{ site.gh_edit_source }}{% endif %}{% if page.collection and site.collections_dir %}/{{ site.collections_dir }}{% endif %}/{{ page.path }}"
              id="edit-this-page" target="blank">{{ site.gh_edit_link_text }}</a>
          </td>
          {% endif %}
          <td>
            <a href="#" id="js-toggle-dark-mode">Go Light</button>
          </td>
        </tr>
      </tbody>
    </table>

 <a href="https://stackexchange.com/users/4234084"><img src="https://stackexchange.com/users/flair/4234084.png?theme=dark" width="208" height="58" alt="profile for J Santosh on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for J Santosh on Stack Exchange, a network of free, community-driven Q&amp;A sites"></a>
  <!-- Google tag (gtag.js) -->
  <script>
    jtd.setTheme('dark');
    const toggleDarkMode = document.querySelector('#js-toggle-dark-mode');

    jtd.addEvent(toggleDarkMode, 'click', function () {
      if (jtd.getTheme() === 'dark') {
        jtd.setTheme('light');
        toggleDarkMode.textContent = 'Go Dark';
      } else {
        jtd.setTheme('dark');
        toggleDarkMode.textContent = 'Go Light';
      }
    });
  </script>
</footer>
{% endif %}
